#app4 {
  border: 1px solid salmon;
}
#app4 .circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: pink;
}
#app4 .circle.active {
  animation: change 1s infinite alternate linear;
}
@keyframes change {
  0% {
    background: pink;
  }
  100% {
    background: red;
  }
}
